# PostgreSQL
POSTGRES_DATABASE=devpilot
POSTGRES_USERNAME=devpilot
POSTGRES_PASSWORD=devpilot

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liqvTb7M8g15y93u
GITHUB_CLIENT_SECRET=381cea25a899e2526ae689e337849bbef743e231

# Application encryption
CRYPTO_PASSWORD=devpilot-local-encryption-password
CRYPTO_SALT=devpilot-salt

# AI
OPENAI_API_KEY=